[user]
  name = Richard Laub
  email = RichardWLaub@gmail.com
[core]
  editor = vim
  excludesFile = $HOME/.gitignore_global
  pager = less -R
[hub]
  host = ghe.nebulaworks.com
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[alias]
  pr = "!f() { exec vsts code pr \"$@\"; }; f"
  repo = "!f() { exec vsts code repo \"$@\"; }; f"
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
