[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/tsuquyomi"]
	path = vim/.vim/bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "typescript-vim"]
	path = vim/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/YouCompleteMe"]
	path = vim/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/.vim/bundle/vim-prettier"]
	path = vim/.vim/bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "qutebrowser/.config/solarized-everything-css"]
	path = qutebrowser/.config/solarized-everything-css
	url = https://github.com/alphapapa/solarized-everything-css.git
